@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@400;700&display=swap');
.meals-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.meals{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.title{
    font-family: 'Caveat', cursive;
    font-weight: 700;
}
#mealdb{
    color: orangered;
}
.cart-container{
    background: #5F4C4C;
}
